<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="bstackdemo Automation Suite" parallel="false">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="tests.AddToCartTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>
